@charset "UTF-8";
.wrapper{
	padding:170px;
	margin:0;
	display:flex;
	align-items: center;
	justify-content: center;
}

.frame-wrapper{
	width: auto;
	height: auto;
	flex-shrink: 0;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items:start;
}

.frame-wrapper .login{
	color: #000;
	font-family: Noto Sans KR;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align:start;
}

.frame-wrapper .frame{
	width: 450px;
	height: 465px;
	flex-shrink: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	background: #FFF;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.image{
	width: 90px;
	height: 90px;
	flex-shrink: 0;
	stroke-width: 6px;
	stroke: #DB2525;
}
.fail-text{
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin:15px;
}