@charset "UTF-8";
body{
	padding:0;
	margin:0;
}
.wrapper{
width:100%;
height:auto;
display:flex;
align-items:center;
justify-content: center;
padding:100px;
}
.frame-wrapper{
width: auto;
height: auto;
flex-shrink: 0;
display:flex;
align-items:start;
flex-direction: column;
margin:0;
}
.frame-wrapper .apply{
	color: #000;
font-family: Noto Sans KR;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align:start;
}

.frame-wrapper .frame{
	width: 450px;
height: auto;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
display:flex;
align-items: center;
gap:10px;
padding:60px;
}
.frame .input-wrapper{
flex-shrink: 0;
color: #000;
font-family: Noto Sans KR;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 0;
margin:0;
}
.frame .input-wrapper .input{
	width: 300px;
height: 35px;
flex-shrink: 0;
background: #D9D9D9;
border:none;
margin:0;
}

.frame-wrapper .button{
display: flex;
width: 177px;
height: 55px;
padding: 16px 32px;
align-items: center;
justify-content: center;
flex-shrink: 0;
color: #FFF;
font-family: Noto Sans KR;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%;
background:#8CDB63;
margin-top:30px;
border-radius: 100px;
text-align: center;
border:0;
}

.frame-wrapper .button:hover{
  background: #6cb845;
}