body {
  padding: 0;
  margin: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 165px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

ul li:hover .sub {
  opacity: 1;
  visibility: visible;
}

a {
  color: #8b8b91;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: block;
}
a:hover {
  color: #b5e29d;
}

.sub {
  position: absolute;
  padding: 0px 38px;
  width: max-content;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 3px solid #b5e29d;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#login {
  display: flex;
  width: auto;
  height: auto;
  padding: 16px 32px;
  border-radius: 100px;
  background: #8cdb63;
  color: #fff;
  font-family: Noto Sans KR;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

#login:hover {
  background: #6cb845;
}
