body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 165px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  gap: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

nav li {
  position: relative;
  display: flex;
  justify-content: center;
}

nav li:hover .sub {
  display: flex;
}

a {
  color: #8b8b91;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  color: #b5e29d;
}

.sub {
  display: none;
  position: absolute;
  padding: 0px 38px;
  width: auto;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 3px solid #b5e29d;
  align-items: center;
}

#login {
  display: flex;
  width: auto;
  height: auto;
  padding: 16px 32px;
  border-radius: 100px;
  background: #8cdb63;
}
