.user-panel {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: #7e7d82;
}
.material-symbolsdashboard-out-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.profile {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-noto-sans-kr);
  color: #26ab49;
  text-align: left;
}
.material-symbolsdashboard-out-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-146xl) var(--padding-base)
    var(--padding-xl);
  background-color: #cdedbc;
  border-radius: var(--br-5xs);
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.album {
  position: relative;
  font-weight: 500;
}
.bytesizeportfolio-parent,
.icon-park-outlinestock-market-parent,
.material-symbolswallet-sharp-parent {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-xl);
  gap: var(--gap-3xs);
}
.icon-park-outlinestock-market-parent,
.material-symbolswallet-sharp-parent {
  width: 275px;
  box-sizing: border-box;
}
.material-symbolswallet-sharp-parent {
  width: 230px;
}
.frame-group,
.frame-wrapper,
.user-panel-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-panel-parent {
  width: 362px;
  height: 588px;
  gap: 24px;
}
.frame-group,
.frame-wrapper {
  position: absolute;
  top: 23px;
  left: 17px;
  width: 286px;
}
.frame-group {
  top: 838px;
  border-radius: var(--br-5xs);
  width: 275px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.union-icon {
  position: relative;
  width: 206px;
  height: 233px;
}
.icon-container {
  position: absolute;
  top: -39.8px;
  left: 19.1px;
  width: 157.8px;
  height: 175.8px;
}
.thoughts-time {
  position: absolute;
  top: 88px;
  left: 63px;
  font-weight: 500;
}
.if-you-arent {
  position: absolute;
  top: 117px;
  left: 20px;
  font-size: var(--font-size-sm);
  line-height: 136%;
  color: #2c2c2c;
  text-align: center;
  display: inline-block;
  width: 166px;
}
.union-parent {
  position: absolute;
  top: 561px;
  left: 36px;
  width: 206px;
  height: 233px;
  font-size: 12px;
  color: #838383;
}
.frame-item {
  position: absolute;
  top: 735px;
  left: 139px;
  border-radius: 50%;
  background-color: #ff8a00;
  filter: blur(17px);
  width: 38px;
  height: 38px;
  mix-blend-mode: overlay;
}
.frame-parent {
  position: absolute;
  top: 120px;
  left: 0;
  background-color: var(--white);
  width: 315px;
  height: 912px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.span {
  font-size: 30px;
  font-weight: 500;
  font-family: var(--font-gmarket-sans);
}
.div1 {
  position: relative;
  line-height: 40px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  font-family: var(--font-amaranth);
}
.about-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-xl);
  font-family: var(--font-actor);
  color: #8b8b91;
  text-align: left;
  display: inline-block;
}
.about-us,
.gallery,
.my-page {
  position: relative;
  line-height: 120%;
}
.my-page {
  color: var(--black);
}
.about-us-parent,
.log-out-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-us-parent {
  gap: 64px;
  color: var(--grey-scale-black-50);
}
.log-out-wrapper {
  border-radius: var(--br-81xl);
  background-color: var(--white);
  padding: var(--padding-base) var(--padding-13xl);
}
.div2 {
  position: relative;
  line-height: 120%;
  font-weight: 900;
}
.container,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  border-radius: var(--br-81xl);
  background-color: #8cdb63;
  padding: var(--padding-base) var(--padding-13xl);
  font-size: 17px;
  color: var(--white);
  font-family: var(--font-noto-sans-kr);
}
.frame-parent1 {
  color: var(--dark);
}
.frame-div,
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
}
.frame-div {
  width: 1510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-146xl);
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--font-actor);
}
.group-child,
.group-inner,
.group-item {
  border-radius: var(--br-xl);
  width: 1146px;
  height: 392px;
}
.group-inner,
.group-item {
  top: 95px;
  left: 121px;
  background-color: var(--color-whitesmoke-100);
  width: 440px;
  height: 265px;
}
.group-inner {
  top: 97px;
  left: 595px;
}
.group-child1,
.group-icon {
  position: absolute;
  top: 175px;
  left: 1061.1px;
  width: 79px;
  height: 71.2px;
}
.group-child1 {
  left: 16.1px;
}
.alarm-clock-icon,
.div3 {
  position: relative;
  flex-shrink: 0;
}
.alarm-clock-icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.div3 {
  font-weight: 600;
  display: inline-block;
  width: 60px;
  height: 40px;
}
.alarm-clock-parent {
  position: absolute;
  top: 22px;
  left: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.rectangle-parent {
  position: absolute;
  top: 595px;
  left: 343px;
  width: 1146px;
  height: 392px;
  font-size: var(--font-size-6xl);
}
.child {
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 838px;
  height: 392px;
}
.child,
.ellipse-div,
.item {
  position: absolute;
  top: 0;
}
.item {
  left: 855px;
  border-radius: var(--br-xl);
  background-color: var(--white);
  width: 283px;
  height: 392px;
}
.ellipse-div {
  left: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 295px;
  height: 299px;
}
.image-7-icon {
  position: absolute;
  top: 16.1px;
  left: 21.1px;
  width: 259px;
  height: 266.8px;
  object-fit: cover;
}
.ellipse-parent {
  position: absolute;
  top: 59px;
  left: 81px;
  width: 295px;
  height: 299px;
}
.p {
  margin: 0;
}
.lever-1,
.xxx {
  position: absolute;
  top: 91px;
  left: 423px;
  font-weight: 600;
  display: inline-block;
  width: 555px;
}
.lever-1 {
  top: 314px;
  left: 968px;
  color: #ffa41c;
  width: 111px;
  height: 40px;
}
.div5 {
  position: relative;
  line-height: 120%;
  font-weight: 500;

}
.frame,
.icon {
  position: absolute;
}
.frame {
  top: 267px;
  left: 595px;
  border-radius: var(--br-81xl);
  background-color: #d3f1c4;
  width: 180px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px var(--padding-13xl) var(--padding-base) 38px;
  box-sizing: border-box;
  font-size: 15px;
  color: #6b6b6b;
  font-family: var(--font-inter);
}
.icon {
  top: 12px;
  left: 884px;
  width: 226px;
  height: 294px;
  object-fit: cover;
}
.div6 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 96px;
  height: 40px;
  flex-shrink: 0;
}
.person-parent {
  top: 10px;
  left: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.div4,
.foot,
.person-parent {
  position: absolute;
}
.div4 {
  top: 147px;
  left: 343px;
  width: 1138px;
  height: 392px;
  font-size: var(--font-size-6xl);
}
.foot {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.div7,
.photo {
  position: absolute;
  width: 5%;
  top: 21.67%;
  left: 6.15%;
  display: inline-block;
}
.photo {
  top: 34.67%;
}
.about,
.before,
.calendar,
.div10,
.div8,
.member {
  position: absolute;
  width: 5.69%;
  top: 34.67%;
  left: 14.95%;
  display: inline-block;
}
.div9
{
  position: absolute;
  width: 20px;
  top: 34.67%;
  left: 14.95%;
  display: inline-block;
}
.about,
.before,
.div10,
.div8,
.div9,
.member {
  width: 3.31%;
  left: 26.79%;
}
.about,
.before,
.div10,
.div9,
.member {
  width: 4.17%;
  top: 47.67%;
  left: 26.32%;
}
.about,
.div10,
.div9,
.member {
  width: 3.77%;
  left: 6.15%;
}
.div10,
.div9,
.member {
  width: 5.22%;
  top: 60.67%;
}
.div10,
.div9 {
  width: 4.89%;
  top: 21.67%;
  left: 15.34%;
}
.div10 {
  left: 25.99%;
}
.address,
.e-mail-alieg0385gmailcom,
.tell-010-4839-1838 {
  position: absolute;
  width: 13.16%;
  top: 42%;
  left: 81.28%;
  display: inline-block;
}
.address,
.e-mail-alieg0385gmailcom {
  width: 18.78%;
  top: 23.33%;
  left: 75.66%;
}
.e-mail-alieg0385gmailcom {
  width: 18.91%;
  top: 60.67%;
}
.dongguksotree2023-all-rights,
.privacy-policy {
  position: absolute;
  font-size: var(--font-size-base);
}
.dongguksotree2023-all-rights {
  top: 86.67%;
  left: calc(50% - 163px);
}
.privacy-policy {
  width: 6.94%;
  top: 77%;
  left: 46.5%;
  display: inline-block;
}
.footer {
  position: absolute;
  top: 1032px;
  left: 0;
  width: 1700px;
  height: 300px;
  color: var(--white);
  font-family: var(--font-inter);
}
.div {
  position: relative;
  background-color: #e3e3e3;
  width: 100%;
  height: 1332px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
