.frame-wrapper{
	width:100%;
	height:auto;
	padding:0;
	margin:0;
}

.frame-wrapper .frame{
	margin-top:50px;
	width: 100%;
	height: 790px;
	flex-shrink: 0;
	display:inline-flex;
	align-items: center;
	justify-content: center;
}

.background{
	position:relative;
	display:inline-flex;
	width:100%;
	height: 790px;
}

.background .rectangle{
	position:absolute;
	width: 705px;
	height: 550px;
	flex-shrink: 0;
	border-radius: 0px 500px 500px 0px;
	background: #CDEDBC;
	top:170px;
	z-index: 1;
}
.background .tree{
	position:absolute;
	top:36px;
	left:24px;
	width: 631px;
	height: 637px;
	flex-shrink: 0;
	z-index: 2;	
}
.background .eclipse{
	position:absolute;
	width: 96px;
	height: 96px;
	flex-shrink: 0;
	left:558px;
	top:65px;
	z-index: 1;	
}
.background .eclipse2{
	position:absolute;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	background: linear-gradient(281deg, #6FD48A 7.11%, #7FBA60 93.54%);
	filter: blur(2px);
	border-radius: 100px;
	left:93px;
	top:40px;
	z-index: 1;
}
.background .eclipse3{
	position:absolute;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	background: #CDEDBC;
	filter: blur(2px);
	border-radius: 100px;
	left:735px;
	top:250px;
	z-index: 1;
}
.background .eclipse4{
	position:absolute;
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	background: #7FBA60;
	filter: blur(2px);
	border-radius: 100px;
	left:850px;
	top:620px;
	z-index: 1;
}
.background .eclipse5{
	position:absolute;
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	background: #B5DF9E;
	filter: blur(2px);
	border-radius: 100px;
	left:1100px;
	top:630px;
	z-index: 1;
}
.frame-wrapper .frame .text-wrapper{
	position:absolute;
	color: #7CCE5B;
	font-family: Noto Sans KR;
	font-size: 85.463px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	top:180px;
	left:830px;
	width:600px;
	height:auto;
	display:flex;
	justify-content: flex-end;
	flex-direction: column;
}

.frame .text1{
	color: #7CCE5B;
	font-family: Noto Sans KR;
	font-size: 85.463px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
}
.frame .text2{
	text-align: justify;
	color: rgba(25, 24, 37, 0.50);
	font-family: Inter;
	font-size: 23px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}
.frame .apply-button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 165px;
	background: #8CDB63;
	color: #FFF;
	font-family: Noto Sans KR;
	font-size: 27.976px;
	font-style: normal;
	font-weight: 900;
	line-height: 120%;
	width:234px;
	height:73px;
	text-decoration: none;
}
.frame .apply-button:hover{
	background:#6cb845;
}

.frame-wrapper .frame2{
	position:relative;
	width: 100%;
	height: 320px;
	flex-shrink: 0;
	background: #DCF3D0;	
	display:flex;
	align-items: center;
	justify-content: center;
}
.frame2 .content-wrapper{
	width: auto;
	height: auto;
	flex-shrink: 0;
	display:inline-flex;
	gap:46px;
	justify-content: center;
}
.content-wrapper .content{
	display: flex;
	width: 223px;
	padding: 32px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	border-radius: 32px;
	border: 0px solid  rgba(25, 24, 37, 0.10);
	background: rgba(255, 255, 255, 0.92);
}
.content .text3{
	color: #FF5722;
	font-family: Noto Sans KR;
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; 
}
.content .text4{
	color: #191825;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}
.frame-wrapper2{
  width: 100%;
  height: auto;
  background: url('./resource/rectangle2.svg') no-repeat center center;
  background-size: cover 2000px; 
}

.frame-wrapper2 .frame-photo{
	width: 100%;
	height: 800px;
	flex-shrink: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	margin:0;
	padding:0px 100px;
	top:0;
	
}
.frame-photo .photo-contents {
  width:1000px;
  height:800px;
  position: relative;
  display: flex;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.frame-photo .photo-contents .title-photo{
	position:absolute;
	color: #7CCE5B;
	font-family: Noto Sans KR;
	font-size: 80px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	top:100px;
	margin:0px 100px;
}

.frame-photo .photo-contents .photo {
  position:absolute;
  width: 800px;
  height: 550px;
  margin-right: 20px;
  flex-shrink: 0;
  transform: translateX(0);
  margin:0px 100px;
  top:200px;
  transition: opacity 0.3s ease;
  opacity:0;
  box-shadow: 25px 25px 10px 0px rgba(0, 0, 0, 0.25);
}

.frame-photo .photo-contents .photo.active {
  opacity:1;
}

.arrow {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  width:50px;
  height:100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.arrow:hover {
  opacity: 1;
}
.arrow.left {
  left: 110px;
}

.arrow.right {
  right: 110px;
}

.frame-wrapper2 .frame-about{
	width: 100%;
	height: 800px;
	flex-shrink: 0;
	display:flex;
	align-items: center;
	justify-content: center;
	margin:0;
	padding:0;
	bottom:0;
}
.frame-about .about-contents{
	position:relative;
	width:1000px;
	height:800px;;
	margin:0;
	display:flex;
	align-items: start;
}
.frame-about .about-contents .title-about{
	position:absolute;
	color: #7CCE5B;
	font-family: Noto Sans KR;
	font-size: 80px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	top:100px;
}
.frame-about .about-contents .text-about{
	position:absolute;
	color: #000;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	top:200px;
}

.frame-about .about-contents .text2-about{
	position:absolute;
	color: #000;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 2;
	top:330px;
}
.frame-about .about-contents .image-about{
	position:absolute;
	width: 550px;
	height: 340px;
	top:330px;
	right:0;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.frame-wrapper .frame-member{
	width: 100%;
	height: 790px;
	flex-shrink: 0;
	display:flex;
	align-items: center;
	justify-content: center;	
}
.frame-member .member-contents{
	position:relative;
	width:1000px;
	height:800px;
}
.title-member{
	position:absolute;
	color: #7CCE5B;
	font-family: Noto Sans KR;
	font-size: 80px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	top:100px;
}
.frame-member .member-contents .image-member{
	position:absolute;
	width: 550px;
	height: 340px;
	top:300px;
	box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.text-member{
	position:absolute;
	color: #000;
	font-family: Noto Sans KR;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 2;
	text-align: start;
	top:270px;
	left:600px;
}
* {
  box-sizing: border-box;
}
