:root {
  --grey-scaleblack-50: rgba(25, 24, 37, 0.5);
}
.frame {
  width: 100%;
  height: 847px;
  display:flex;
}

.frame .overlap-group {
  width: 100%;
  height: 743px;
}

.frame .group {
  width: 100%;
  height: 743px;
  top: 0;
  left: 0;
}

.frame .rectangle {
  width: 705px;
  height: 550px;
  top: 176px;
  left: 0;
  background-color: #cdecbb;
  border-radius: 0px 500px 500px 0px;
}

.frame .ellipse {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 55px;
  left: 572px;
}

.frame .div {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 93px;
  border-radius: 20px;
  filter: blur(4px);
  background: linear-gradient(180deg, rgb(111, 212, 138) 0%, rgb(127, 186, 96) 100%);
}

.frame .ellipse-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 247px;
  left: 735px;
  background-color: #cdecbb;
  border-radius: 20px;
  filter: blur(4px);
}

.frame .ellipse-3 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 628px;
  left: 1375px;
  background-color: #b5df9e;
  border-radius: 16px;
  filter: blur(4px);
}

.frame .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 634px;
  align-items: flex-start;
  gap: 91.16px;
  position: absolute;
  top: 180px;
  left: 867px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45.58px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22.79px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.42px;
  font-family: "Noto Sans KR-Bold", Helvetica;
  font-weight: 700;
  color: #7bce5a;
  font-size: 85.5px;
  letter-spacing: 0;
  line-height: 102.6px;
}

.frame .p {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey-scaleblack-50);
  font-size: 25.6px;
  letter-spacing: 0;
  line-height: 41px;
}

.frame .element {
  position: absolute;
  width: 631px;
  height: 637px;
  top: 40px;
  left: 26px;
  object-fit: cover;
}

.frame .div-wrapper-2 {
  position: absolute;
  width: 234px;
  height: 73px;
  top: 489px;
  left: 867px;
  background-color: #8cdb63;
  border-radius: 164.57px;
}
.frame .div-wrapper-2:hover{
	background: #6cb845;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 18px;
  left: 65px;
  font-family: "Noto Sans KR-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 33.6px;
  white-space: nowrap;
  text-decoration: none;
}
.box {
width:100%;
height: 320px;
flex-shrink: 0;
background: #DCF3D0;
display:flex;
align-items: center;
justify-content: center;
gap:46px;
}

.box .frame {
display: flex;
width: 222px;
height:151px;
flex-direction: column;
align-items: center;
gap: 18px;
border-radius: 32px;
background: #ffffff;
padding:20px;
}

.box .text {
color: #191825;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}


.box .frame .text-wrapper-3 {
color: #FF5722;
font-family: Noto Sans KR;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal; 
}

* {
  box-sizing: border-box;
}
