* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    }
    body {
      font-size: 14px;
    }

    .titleNotice {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        position: absolute;
        top: 70px;
        left: 5%;
    }
    .img_writer_tag {
        width: 15px;
        height: 15px;
        background: url("../resource/writer.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        top: 130px;
        left: 5%;
    }
    .titleNoticeInfo {
        color: #000;
        font-size: 15px;
        line-height: normal;
        position: relative;
        top: 115px;
        left: 100px;
    }

    .detailInfoBackGround {
        width: 90%;
        height: 400px;
        background: #F3FFF4;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #A2A2A2;
        position: relative;
        top: 150px;
        left: 5%;
    }
    .detailInfo {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 40px;
    }
    .headerNotice {
    width: 80%;
    height: 250px;
    opacity: 1;
    flex-shrink: 0;
	z-index: 1;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:200px;
	border-radius: 20px;
	background:#DCF3D0;
  } 
  
  .modify a {
	  color: #8EBA8A;
	  width: 200px;
	  padding-right: 50px;
	  padding-left: 50px;
	  border-right: 2px solid #8EBA8A;
  }
  .modify a:hover{
	  color: rgb(81, 99, 77);
	  text-decoration: underline;
  }
